/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ----------------- General Styles */
body {
  font-family: "News Cycle", Impact, sans-serif;
}

/* ----------------- Hidden Classes */
.hidden-text {
  display: none;
}

.grow {
  font-size: larger;
}

/* ----------------- Homepage */
#homepage {
  display: flex;
  justify-content: center;
  background-image: url("../images/backgrounds/homepage-background.webp");
  background-color: #ed1d24;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

#play-button-contiainer {
  position: absolute;
  right: 290px;
  text-align: center;
  padding-top: 20px;
}

#play-button {
  position: relative;
  top: 240px;
  height: 90px;
  width: 220px;
  border-radius: 10px;
  font-family: "News Cycle", Impact, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 38px;
  font-stretch: condensed;
  color: white;
  background-color: #ed1d24;
  border: solid 5px #a80006;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#play-button:hover {
  filter: brightness(130%);
  font-size: 40px;
  text-shadow: 0 0 20px #fff;
  transition: all 0.5s;
  box-shadow: none;
}

#deck-choice-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 170px;
  height: 300px;
  width: 450px;
  background-image: url(../images/backgrounds/yellow-background.webp);
  background-size: cover;
  border: groove 3px white;
  border-radius: 30px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.9);
  color: white;
  text-transform: uppercase;
  font-style: italic;
  font-stretch: condensed;
  font-weight: 900;
}

#deck-choice-container > h3 {
  margin-bottom: 10px;
  font-size: 45px;
}

#heroes-button {
  margin-bottom: 20px;
  height: 70px;
  width: 180px;
  font-size: 30px;
  font-style: italic;
  color: white;
  font-stretch: condensed;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 10px;
  background-image: url(../images/backgrounds/card-front-hero.webp);
  background-size: cover;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#villains-button {
  margin-bottom: 10px;
  height: 70px;
  width: 180px;
  font-size: 30px;
  font-stretch: condensed;
  font-weight: 900;
  font-style: italic;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  background-image: url(../images/backgrounds/card-front-villain.webp);
  background-size: cover;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#heroes-button:hover {
  font-size: 32px;
  text-shadow: 0 0 10px #fff;
  transition: all 0.5s;
  box-shadow: none;
  border: solid 3px black;
}

#villains-button:hover {
  font-size: 32px;
  text-shadow: 0 0 10px #fff;
  transition: all 0.5s;
  box-shadow: none;
  border: solid 3px black;
}

.close-window {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin-bottom: 0;
}

.close-window:hover {
  text-shadow: 0 0 5px #fff;
  transition: all 0.2s;
}

/* ----------------- GAME PAGE: HERO */
#heroes-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/backgrounds/game-heroes-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

#page-buttons {
  position: absolute;
  top: 15px;
  left: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#home-arrow {
  width: 125px;
  height: 90px;
  background: none;
  border: none;
  background-image: url(../images/icons/home-arrow.webp);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: brightness(100%);
}

#home-arrow:hover {
  filter: brightness(130%);
  width: 135px;
  height: 98px;
  transition: all 0.3s;
}

#help-button {
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  background-image: url(../images/icons/help-button.webp);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: brightness(100%);
}

#help-button:hover {
  filter: brightness(130%);
  width: 75px;
  height: 75px;
  transition: all 0.3s;
}

#sfx-button {
  width: 70px;
  height: 70px;
  background: none;
  border: none;
  background-image: url(../images/icons/audio-on.webp);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: brightness(100%);
}

#sfx-button:hover {
  filter: brightness(130%);
  width: 80px;
  height: 80px;
  transition: all 0.3s;
}

#h2p {
  display: none;
  position: absolute;
  padding: 20px;
  background-color: #f6851f;
  color: white;
  font-weight: 900;
  border: solid 5px black;
  border-radius: 20px;
  z-index: 1;
}

#h2p > h2 {
  text-transform: uppercase;
}

#h2p ul {
  list-style: none;
}

#h2p ol {
  margin-left: 35px;
}

/* ----------------- Deal Cards */
#deal-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#deal-button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
  width: 370px;
  height: 300px;
  border: groove 3px white;
  border-radius: 30px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.9);
  background-image: url(../images/backgrounds/yellow-background.webp);
}

#deal-button-box h2 {
  position: relative;
  padding: 10px;
  color: white;
  font-size: 40px;
}

#deal-cards-button {
  height: 150px;
  width: 150px;
  padding: 0 10px;
  margin-bottom: 50px;
  font-family: "News Cycle", Impact, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 38px;
  font-stretch: condensed;
  color: white;
  background-color: #ed1d24;
  border-radius: 50%;
  border-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  filter: brightness(100%);
}

#deal-cards-button:hover {
  filter: brightness(130%);
  text-shadow: 0 0 5px #fff;
  box-shadow: none;
  transition: all 0.3s;
}

/* ----------------- User Buttons */
#user-buttons {
  display: none;
  position: absolute;
  left: 480px;
  width: 55px;
  height: 320px;
  top: 120px;
  background-color: #ed1d24;
  border: groove 3px white;
  border-radius: 10px;
}

#user-buttons > ul {
  list-style: none;
  padding: 10px;
  text-align: center;
}

#user-buttons button {
  margin-bottom: 30px;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

#user-buttons button:hover {
  text-shadow: 0 0 7px #fff;
}

/* ----------------- Results */
#results-screen {
  display: none;
  text-align: center;
  width: 370px;
  height: 300px;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

#results-screen h2 {
  padding-top: 20px;
}

#win {
  display: none;
  height: 200px;
  background-image: url(../images/backgrounds/green-background.webp);
  border: groove 3px white;
  border-radius: 30px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.9);
}

#draw {
  display: none;
  height: 200px;
  background-image: url(../images/backgrounds/yellow-background.webp);
  border: groove 3px white;
  border-radius: 30px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.9);
}

#lose {
  display: none;
  height: 200px;
  background-image: url(../images/backgrounds/red-background.webp);
  border: groove 3px white;
  border-radius: 30px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.9);
}

#win button {
  position: relative;
  top: 10px;
  background: none;
  border: none;
  color: #0daa63;
  background-color: white;
  text-transform: uppercase;
  font-size: 20px;
  border: groove 3px white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 5px;
  cursor: pointer;
}

#win button:hover {
  box-shadow: none;
  color: #0ec674;
}

#draw button {
  position: relative;
  top: 10px;
  background: none;
  border: none;
  color: #eec008;
  background-color: white;
  text-transform: uppercase;
  font-size: 20px;
  border: groove 3px white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 5px;
  cursor: pointer;
}

#draw button:hover {
  box-shadow: none;
  color: #ffcb05;
}

#lose button {
  position: relative;
  top: 10px;
  background: none;
  border: none;
  color: #931323;
  background-color: white;
  text-transform: uppercase;
  font-size: 20px;
  border: groove 3px white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 5px;
  cursor: pointer;
}

#lose button:hover {
  box-shadow: none;
  color: #bd192c;
}

#score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 10px;
  height: 143px;
  width: 210px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  color: white;
  background-image: url(../images/backgrounds/score-board.webp);
  background-size: contain;
  border: groove 5px white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.hero-score {
  color: #2bb8ff;
  text-shadow: 0 0 10px #6ecfff;
}

.villain-score {
  color: #f52220;
  text-shadow: 0 0 10px #ff5e5b;
}

.glow {
  text-shadow: 0 0 5px white;
}

#user-display-score, #cpu-display-score {
  font-size: 50px;
}

/* ----------------- Background Cards */
#user-background-card1 {
  position: absolute;
  top: 70px;
  left: 190px;
  width: 250px;
  height: 470px;
  border-radius: 15px;
  text-align: center;
  border: groove 3px rgba(255, 255, 255, 0.3);
  background-image: url(../images/backgrounds/card-back.webp);
}

#user-background-card2 {
  position: absolute;
  top: 60px;
  left: 200px;
  width: 250px;
  height: 470px;
  border-radius: 15px;
  text-align: center;
  border: groove 3px rgba(255, 255, 255, 0.3);
  background-image: url(../images/backgrounds/card-back.webp);
}

#user-background-card3 {
  position: absolute;
  top: 50px;
  left: 210px;
  width: 250px;
  height: 470px;
  border-radius: 15px;
  text-align: center;
  border: groove 3px rgba(255, 255, 255, 0.3);
  background-image: url(../images/backgrounds/card-back.webp);
}

#user-background-card3 > img {
  position: relative;
  top: 150px;
  width: 150px;
  border-radius: 10px;
  opacity: 0.9;
}

#cpu-background-card1 {
  position: absolute;
  top: 70px;
  right: 190px;
  width: 250px;
  height: 470px;
  border-radius: 15px;
  text-align: center;
  border: groove 3px rgba(255, 255, 255, 0.3);
  background-image: url(../images/backgrounds/card-back.webp);
}

#cpu-background-card2 {
  position: absolute;
  top: 60px;
  right: 200px;
  width: 250px;
  height: 470px;
  border-radius: 15px;
  text-align: center;
  border: groove 3px rgba(255, 255, 255, 0.3);
  background-image: url(../images/backgrounds/card-back.webp);
}

#cpu-background-card3 {
  position: absolute;
  top: 50px;
  right: 210px;
  width: 250px;
  height: 470px;
  border-radius: 15px;
  text-align: center;
  border: groove 3px rgba(255, 255, 255, 0.3);
  background-image: url(../images/backgrounds/card-back.webp);
}

#cpu-background-card3 > img {
  position: relative;
  top: 150px;
  width: 150px;
  border-radius: 10px;
  opacity: 0.9;
}

/* ----------------- User & CPU Cards */
#user-card {
  position: absolute;
  top: 40px;
  left: 220px;
  width: 250px;
  height: 470px;
  border-radius: 15px;
  transform-style: preserve-3d;
}

#cpu-card {
  position: absolute;
  top: 40px;
  right: 220px;
  border-radius: 15px;
  width: 250px;
  height: 470px;
  transform-style: preserve-3d;
}

/* ----------------- Hero Cards */

#hero-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  text-align: center;
  border: groove 3px rgba(255, 255, 255, 0.3);
  background-image: url(../images/backgrounds/card-back.webp);
  z-index: 1;
  backface-visibility: hidden;
}

#hero-card-back > img {
  position: relative;
  top: 150px;
  width: 150px;
  border-radius: 10px;
  opacity: 0.9;
}

#hero-card-front {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-image: url("../images/backgrounds/card-front-hero.webp");
  border: groove 3px rgba(17, 128, 255, 0.8);
  transform: rotateY(180deg);
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero > img {
  position: relative;
  top: 25px;
  width: 75%;
  height: 230px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: solid 3px whitesmoke;
}

#hero > h3 {
  color: white;
  margin-bottom: 5px;
}

#hero > h4 {
  width: 85%;
  color: white;
  font-size: 80%;
  line-height: 140%;
  text-align: center;
  margin-bottom: 10px;
}

#hero-stats {
  color: white;
  font-size: 75%;
  text-transform: uppercase;
  font-weight: bolder;
}

/* ----------------- Villain Card */

#villain-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: groove 3px rgba(255, 255, 255, 0.3);
  text-align: center;
  background-image: url(../images/backgrounds/card-back.webp);
  z-index: 1;
  backface-visibility: hidden;
}

#villain-card-back > img {
  position: relative;
  top: 150px;
  width: 150px;
  border-radius: 10px;
  opacity: 0.9;
}

#villain-card-front {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-image: url("../images/backgrounds/card-front-villain.webp");
  border: groove 3px rgba(255, 255, 255, 0.3);
  transform: rotateY(180deg);
}

#villain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#villain > img {
  position: relative;
  top: 25px;
  width: 75%;
  height: 230px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: solid 3px whitesmoke;
}

#villain > h3 {
  color: white;
  margin-bottom: 5px;
}

#villain > h4 {
  width: 85%;
  color: white;
  font-size: 80%;
  line-height: 140%;
  text-align: center;
  margin-bottom: 10px;
}

#villain-stats {
  color: white;
  font-size: 75%;
  text-transform: uppercase;
  font-weight: bolder;
}

td > i {
  padding-right: 10px;
}

.skill {
  padding-right: 100px;
}

/* ----------------- Card Flip Animation */
#user-card.active {
  transform: perspective(700px) rotateY(180deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  transition: all 1.2s;
}

#cpu-card.active {
  transform: perspective(700px) rotateY(180deg);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.8);
  transition: all 1.2s;
}