/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ----------------- General Styles */
body {
  font-family: "News Cycle", Impact, sans-serif;
}

/* ----------------- Hidden Classes */
.hidden-text {
  display: none;
}

/* ----------------- Homepage */
#homepage {
  display: flex;
  justify-content: center;
  background-image: url("../images/backgrounds/homepage-background.webp");
  background-color: #ed1d24;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

#play-button-contiainer {
  position: absolute;
  right: 290px;
  text-align: center;
  padding-top: 20px;
}

#play-button {
  position: relative;
  top: 240px;
  height: 90px;
  width: 220px;
  border-radius: 10px;
  font-family: "News Cycle", Impact, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 38px;
  font-stretch: condensed;
  color: white;
  background-color: #ed1d24;
  border: solid 5px #a80006;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#play-button:hover {
  background-color: #a80006;
  border-color: #ed1d24;
  font-size: 40px;
  transition: all 0.5s;
  box-shadow: none;
}

#deck-choice-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 170px;
  height: 300px;
  width: 450px;
  background-image: url(../images/backgrounds/yellow-background.webp);
  background-size: cover;
  border: groove 3px white;
  border-radius: 30px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.9);
  color: white;
  text-transform: uppercase;
  font-style: italic;
}

#deck-choice-container > h3 {
  margin-bottom: 10px;
  font-size: 45px;
}

#heroes-button {
  margin-bottom: 20px;
  height: 70px;
  width: 180px;
  font-size: 35px;
  font-style: italic;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  background-image: url(../images/backgrounds/card-front-hero.webp);
  background-size: cover;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#villains-button {
  margin-bottom: 10px;
  height: 70px;
  width: 180px;
  font-size: 35px;
  font-style: italic;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  background-image: url(../images/backgrounds/card-front-villain.webp);
  background-size: cover;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#heroes-button:hover {
  font-size: 37px;
  transition: all 0.5s;
  box-shadow: none;
  border: solid 3px black;
}

#villains-button:hover {
  font-size: 37px;
  transition: all 0.5s;
  box-shadow: none;
  border: solid 3px black;
}

#close-window {
  position: relative;
  top: 5px;
  left: 190px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin-bottom: 0;
}

#close-window:hover {
  color: rgb(224, 224, 224);
  transition: all 0.2s;
}

/* ----------------- Game Page: Hero */
#heroes-game {
  background-image: url("../images/backgrounds/game-heroes-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

#deal-button-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 150px;
}

#deal-button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 300px;
  border: groove 3px white;
  border-radius: 30px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.9);
  background-image: url(../images/backgrounds/yellow-background.webp);
}

#deal-button-box h2 {
  position: relative;
  padding: 10px;
  color: white;
  font-size: 40px;
}

#deal-cards-button {
  height: 150px;
  width: 150px;
  padding: 0 10px;
  margin-bottom: 50px;
  font-family: "News Cycle", Impact, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 38px;
  font-stretch: condensed;
  color: white;
  background-color: #ed1d24;
  border-radius: 50%;
  border-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#deal-cards-button:hover {
  background-color: #d6191f;
  box-shadow: none;
}

#user-buttons {
  display: none;
  position: absolute;
  left: 220px;
  width: 250px;
  height: 50px;
  top: 520px;
  background-color: #ed1d24;
  border: groove 3px white;
  border-radius: 10px;
}

#user-buttons > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 5px 0;
}

#user-buttons button {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* ----------------- Hero Cards */
#hero-card {
  position: absolute;
  top: 40px;
  left: 220px;
  width: 250px;
  height: 470px;
  border-radius: 15px;
  transform-style: preserve-3d;
}

#hero-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  text-align: center;
  border: groove 3px rgba(255, 255, 255, 0.3);
  background-image: url(../images/backgrounds/card-back.webp);
  z-index: 1;
  backface-visibility: hidden;
}

#hero-card-back > img {
  position: relative;
  top: 150px;
  width: 150px;
  border-radius: 10px;
  opacity: 0.9;
}

#hero-card-front {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-image: url("../images/backgrounds/card-front-hero.webp");
  border: groove 3px rgba(17, 128, 255, 0.8);
  transform: rotateY(180deg);
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero > img {
  position: relative;
  top: 25px;
  width: 75%;
  height: 230px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: solid 3px whitesmoke;
}

#hero > h3 {
  color: white;
  margin-bottom: 5px;
}

#hero > h4 {
  width: 85%;
  color: white;
  font-size: 80%;
  line-height: 140%;
  text-align: center;
  margin-bottom: 10px;
}

#hero-stats {
  color: white;
  font-size: 75%;
  text-transform: uppercase;
  font-weight: bolder;
}

/* ----------------- Villain Card */

#villain-card {
  position: absolute;
  top: 40px;
  right: 220px;
  border-radius: 15px;
  width: 250px;
  height: 470px;
  transform-style: preserve-3d;
}

#villain-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: groove 3px rgba(255, 255, 255, 0.3);
  text-align: center;
  background-image: url(../images/backgrounds/card-back.webp);
  z-index: 1;
  backface-visibility: hidden;
}

#villain-card-back > img {
  position: relative;
  top: 150px;
  width: 150px;
  border-radius: 10px;
  opacity: 0.9;
}

#villain-card-front {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-image: url("../images/backgrounds/card-front-villain.webp");
  border: groove 3px rgba(255, 255, 255, 0.3);
  transform: rotateY(180deg);
}

#villain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#villain > img {
  position: relative;
  top: 25px;
  width: 75%;
  height: 230px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: solid 3px whitesmoke;
}

#villain > h3 {
  color: white;
  margin-bottom: 5px;
}

#villain > h4 {
  width: 85%;
  color: white;
  font-size: 80%;
  line-height: 140%;
  text-align: center;
  margin-bottom: 10px;
}

#villain-stats {
  color: white;
  font-size: 75%;
  text-transform: uppercase;
  font-weight: bolder;
}

td > i {
  padding-right: 10px;
}

.skill {
  padding-right: 100px;
}

/* ----------------- Card Flip Animation */
#hero-card.active {
  transform: perspective(700px) rotateY(180deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  transition: all 1.2s;
}

#villain-card.active {
  transform: perspective(700px) rotateY(180deg);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.8);
  transition: all 1.2s;
}