/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ----------------- General Styles */
body {
  font-family: "News Cycle", Impact, sans-serif;
}

/* ----------------- Hidden Classes */
.hidden-text {
  display: none;
}

/* ----------------- Homepage */
#homepage {
  display: flex;
  justify-content: center;
  background-image: url("../images/backgrounds/homepage-background.webp");
  background-color: #ed1d24;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

#play-button-contiainer {
  position: absolute;
  right: 290px;
  text-align: center;
  padding-top: 20px;
}

#play-button {
  position: relative;
  top: 240px;
  height: 90px;
  width: 220px;
  border-radius: 10px;
  font-family: "News Cycle", Impact, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 38px;
  font-stretch: condensed;
  color: white;
  background-color: #ed1d24;
  border: solid 5px #a80006;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#play-button:hover {
  background-color: #a80006;
  border-color: #ed1d24;
  font-size: 40px;
  transition: all 0.5s;
  box-shadow: none;
}

#deck-choice-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 170px;
  height: 300px;
  width: 450px;
  background-image: url(../images/backgrounds/deck-choice-background.webp);
  background-size: cover;
  border: groove 3px white;
  border-radius: 30px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.9);
  color: white;
  text-transform: uppercase;
  font-style: italic;
}

#deck-choice-container > h3 {
  margin-bottom: 10px;
  font-size: 45px;
}

#heroes-button {
  margin-bottom: 20px;
  height: 70px;
  width: 180px;
  font-size: 35px;
  font-style: italic;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  background-image: url(../images/backgrounds/card-front-hero.webp);
  background-size: cover;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#villains-button {
  margin-bottom: 10px;
  height: 70px;
  width: 180px;
  font-size: 35px;
  font-style: italic;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  background-image: url(../images/backgrounds/card-front-villain.webp);
  background-size: cover;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#heroes-button:hover {
  font-size: 37px;
  transition: all 0.2s;
  box-shadow: none;
  border: solid 3px black;
}

#villains-button:hover {
  font-size: 37px;
  transition: all 0.5s;
  box-shadow: none;
  border: solid 3px black;
}

#close-window {
  position: relative;
  top: 5px;
  left: 190px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin-bottom: 0;
}

#close-window:hover {
  color: rgb(224, 224, 224);
  transition: all 0.2s;
}

/* ----------------- Game Page: Hero */
#heroes-game {
  background-image: url("../images/backgrounds/game-heroes-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

#deal-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 300px;
}

#deal-cards-button {
  padding: 0 10px;
  border-radius: 10px;
  font-family: "News Cycle", Impact, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 38px;
  font-stretch: condensed;
  color: white;
  background-color: #ed1d24;
  border-color: white;
  cursor: pointer;
}

#deal-cards-button:hover {
  color: #ed1d24;
  background-color: white;
  border-color: #ed1d24;
  transition: all 0.5s;
}

/* User Hero Cards */
#user-hero-card {
  position: absolute;
  top: 40px;
  left: 220px;
  width: 250px;
  height: 470px;
  border-radius: 15px;
  transform-style: preserve-3d;
}

#user-hero-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  text-align: center;
  border: groove 3px rgba(255, 255, 255, 0.3);
  background-image: url(../images/backgrounds/card-back.webp);
  z-index: 1;
  backface-visibility: hidden;
}

#user-hero-card-back > img {
  position: relative;
  top: 150px;
  width: 150px;
  border-radius: 10px;
  opacity: 0.9;
}

#user-hero-card-front {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-image: url("../images/backgrounds/card-front-hero.webp");
  border: groove 3px rgba(17, 128, 255, 0.8);
  transform: rotateY(180deg);
}

#user-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-hero > img {
  position: relative;
  top: 25px;
  width: 75%;
  height: 230px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: solid 3px whitesmoke;
}

#user-hero > h3 {
  color: white;
  margin-bottom: 5px;
}

#user-hero > h4 {
  width: 85%;
  color: white;
  font-size: 80%;
  line-height: 140%;
  text-align: center;
  margin-bottom: 10px;
}

#user-hero-stats {
  color: white;
  font-size: 75%;
  text-transform: uppercase;
  font-weight: bolder;
}

#cpu-villain-card {
  position: absolute;
  top: 40px;
  right: 220px;
  border-radius: 15px;
  width: 250px;
  height: 470px;
  transform-style: preserve-3d;
}

#cpu-villain-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: groove 3px rgba(255, 255, 255, 0.3);
  text-align: center;
  background-image: url(../images/backgrounds/card-back.webp);
  z-index: 1;
  backface-visibility: hidden;
}

#cpu-villain-card-back > img {
  position: relative;
  top: 150px;
  width: 150px;
  border-radius: 10px;
  opacity: 0.9;
}

#cpu-villain-card-front {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-image: url("../images/backgrounds/card-front-villain.webp");
  border: groove 3px rgba(255, 255, 255, 0.3);
  transform: rotateY(180deg);
}

#cpu-villain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cpu-villain > img {
  position: relative;
  top: 25px;
  width: 75%;
  height: 230px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: solid 3px whitesmoke;
}

#cpu-villain > h3 {
  color: white;
  margin-bottom: 5px;
}

#cpu-villain > h4 {
  width: 85%;
  color: white;
  font-size: 80%;
  line-height: 140%;
  text-align: center;
  margin-bottom: 10px;
}

#cpu-villain-stats {
  color: white;
  font-size: 75%;
  text-transform: uppercase;
  font-weight: bolder;
}

td > i {
  padding-right: 10px;
}

.skill {
  padding-right: 100px;
}